body {
    background-color: rgb(240, 180, 103);
}
#navbar {
    background-color: rgb(240, 180, 103);
}

#seccion_hero {
    background-image: url("../img/Collage_borroso.jpg");
    height: 40rem;
    background-position-y: 10%;
}

#Trabajos_Anteriores {
    background-color: rgb(240, 180, 103);
}

#boton_contacto{
background-color: rgb(240, 180, 103);
}

footer {
    background-color: rgb(240, 180, 103);
    height: 40px;
    text-align: center;
    
}

