body {
    background-color: rgb(240, 180, 103);
}
#navbar {
    background-color: rgb(240, 180, 103);
}

#seccion_hero {
    background-image: url("../img/Collage_borroso.jpg");
    height: 40rem;
    background-position-y: 10%;
}

#Trabajos_Anteriores {
    background-color: rgb(240, 180, 103);
}

.boton_cartas{
    background-color: rgb(240, 180, 103);
    width: 105px;
    height: 38px;
    border-radius: 4px;
}

#boton_contacto{
background-color: rgb(240, 180, 103);
}

footer {
    background-color: rgb(240, 180, 103);
    text-align: center;
    color: white;
}

