.navbar-brand img {
    max-width: 60px;
    max-height: 60px;
  }



  
#seccion_hero {
        background-image: url("../img/Collage_borroso.jpg");
        height: 40rem;
        background-position-y: 10%;
}